<h1>Bastian Alvarado</h1>

<div class="jumbotron">
  <h1 class="display-4">q sucede?</h1>
  <p class="lead">ñee</p>
  <hr class="my-4">
  <p>lorem ipsus asjkdlkasfjalkfsljalkj</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Lee mas wacho</a>
</div>

